.content {
    margin: 30px 60px 0 70px;
    color: #fff;
    line-height: 40px;
}

.content > p {
    text-align: center;
}

.inputs {
    display: flex;
}

.inputs > input {
    background-color: #000;
    border-style: solid;
    border-top: #000;
    border-left: #000;
    border-right: #000;
    margin-right: 10px;
    width: 20%;
    color: #fff;
    font-size: 30px;
    text-align: center;
}

.inputs > input:focus {
    outline: none;
    color: #fff;
}

.alert {
    margin: 60% 20px 0 20px;
}

.pass {
    color: #fff;
}

.pass > input {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 100%;
    font-size: 20px;
    padding: 10px;
}

.pass > input :focus {
    outline: none;
}

.pass > label {
    margin-left: 5px;
}

.next {
    color: #ecbc00;
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
}

.next > p {
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
}

.information > p {
    color: green;
}

.information > p > small {
    color: #fff;
}

.repass {
    margin-bottom: 10px !important;
}

.index{
    z-index: 200;
    animation-name: show;
    animation-duration: 0.5s;
}

@keyframes show{
    0% {right: 0;}
    100% {right: 100px;}
}