@import "../../../../constants/variables";

.link_input_container {
	label {
		font-size: $requestPubFormLabelSize;
	}

	input {
		@include basicInputStyle;
	}

	.add_link_container {
		display: flex;
		align-items: center;
		justify-content: flex-end;

		h3 {
			font-size: 1rem;
			color: $grayTextForInput;
			text-align: end;
			margin-right: 1rem;
		}

		.plus_btn {
			font-size: 1.3rem;

			&:hover {
				cursor: pointer;
			}
		}
	}
}

.links_list {
	list-style: none;
	width: 100%;
	margin: 1rem 0 2rem 0;
	padding: 0;

	li {
		margin-bottom: 0.5rem;
		display: flex;
		align-items: center;
		width: 100%;

		input {
			@include basicInputStyle;
			width: 92%;
			margin-top: 0;
			margin-right: 0.5rem;
			background-color: #494949;
			border: none;
			text-decoration: underline;
			color: $grayTextForInput;
		}
	}
}

.error_input {
	@include inputInsetError;
}
