@import "../../../constants/variables";

.login_container {
	padding: 20% 15% 15% 15%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	box-sizing: border-box;

	h1 {
		font-size: 1.2rem;
		font-weight: 400;
	}

	.logo_container {
		$imgSize: 4rem;
		display: flex;
		align-items: center;
		flex-direction: column;

		img {
			width: 7.5rem;
			height: 4rem;
		}
	}

	.input_container {
		display: flex;
		flex-direction: column;
		align-items: center;

		label {
			width: 100%;
			text-align: left;
			margin-bottom: 0.5rem;
		}

		input {
			width: 100%;
			border-radius: 20px;
			color: $grayTextForInput;
			background-color: $blackInputColor;
			padding: 1rem 1rem 0.7rem 1rem;
			border: none;

			&:-webkit-autofill,
			&:-webkit-autofill:hover,
			&:-webkit-autofill:focus {
				box-shadow: 0 0 0 1000px $blackInputColor inset;
				color: $grayTextForInput;
			}
		}

		.cnpj_input {
			margin-bottom: 1.5rem;
		}

		.password_input {
			margin-bottom: 0.5rem;
		}

		span {
			text-decoration: underline;
		}
	}

	.submit_btn {
		border-radius: 30px;
		border: 4px solid $blackInputColor;
		background-color: white;
		padding: 0.8rem 2rem;
		font-weight: bold;
		font-size: 1rem;
		width: 60%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.to_register_section {
		.text_container {
			h2 {
				margin: 0;
				font-size: 1rem;
				text-align: left;
				font-weight: 400;
			}

			.register_link {
				text-decoration: underline;
				font-weight: bold;
			}
		}
	}
}
