@import "../../../constants/variables";

.header {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	padding: 1.2rem 0.8rem 2rem 0.8rem;

	img {
		width: 5rem;
		height: 2rem;
	}

	.menu,
	.bell,
	.back_btn {
		position: relative;
		top: 0.2rem;
	}

	.menu {
		font-size: 2rem;
		color: $grayTextForInput;
	}

	.bell {
		font-size: 1.5rem;
	}

	.back_icon {
		font-size: 1.5rem;
		color: white;
	}

	.back_btn {
		padding: 0;
		border: 0;
		margin: 0;
		background-color: transparent;
	}

	h1 {
		margin: 0;
		font-size: 1.1rem;
	}

	.placeholder_div {
		color: transparent;
	}
}
