@import "../../../constants/variables";

.details_page_container {
	height: 88vh;
	padding: 0 5%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	width: 100%;

	@media screen and (min-width: 700px) {
		padding: 0 20%;
	}

	@media screen and (min-width: 800px) {
		padding: 0 20%;
	}

	@media screen and (min-width: 1000px) {
		padding: 0 30%;
	}
}

.input_wrapper {
	display: flex;
	align-items: flex-start;
	height: 5rem;
	background-color: #f8f8f8;
	width: 100%;
	padding: 0.6rem 0.8rem;

	.comment_icon {
		color: black;
		font-size: 2.2rem;
	}

	.input_container {
		margin-left: 1.2rem;
		width: 80%;
		height: 100%;

		textarea {
			width: 100%;
			border: none;
			height: 100%;
			resize: none;
		}
	}

	.send_btn {
		margin-left: 0.5rem;
		border: none;
		background-color: #f8f8f8;
		height: 100%;
		display: flex;
		align-items: flex-end;
		padding: 0;

		.send_icon {
			font-size: 2rem;
			color: $darkYellowColor;
		}
	}
}
