.header_with_title{
    display: flex;
    flex-direction: row;
    margin: 10px;
    color: #fff;
}

.back_button{
    text-align: center;
    color: #808080;
    padding: 0px 0px 0px 0px;
    margin: 15px 30px 5px 0px;
    display: inline-block;
}

.title_header{
    text-align: center;
    font-size: 26px;
}