@import "../../../../constants/variables";

.form_select_container {
	margin-bottom: 2rem;

	label {
		font-size: $requestPubFormLabelSize;
	}

	.select_error {
		box-shadow: 0 0 4px 2px rgb(236, 23, 23);
	}

	.input_container {
		margin-top: 0.7rem;
		width: 100%;

		select {
			@include basicInputStyle;
			padding: 0.5rem 0.8rem;
			border-radius: 8px;
			margin-top: 0;

			option {
				width: 100%;
			}

			&:focus {
				outline: none;
			}
		}
	}
}
