@import "../../../constants/variables";

.item_container {
	width: 100%;
	min-height: 8rem;
	color: darken($grayTextForInput, 5);
	background-color: $blackInputColor;
	display: flex;
	position: relative;
	margin-bottom: 1.5rem;
	overflow: hidden;
	border-radius: 15px;

	img {
		width: 30%;
	}

	.text_container {
		margin-left: 1.2rem;
		padding: 0.6rem 1rem 0.5rem 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		h1,
		h2,
		p,
		h3 {
			margin: 0;
		}

		h1 {
			font-size: 0.9rem;
			margin-bottom: 0.2rem;
			max-width: 85%;
		}

		h2 {
			font-size: 0.5rem;
		}

		h2 {
			font-weight: 400;
		}

		p,
		h3 {
			color: darken($grayTextForInput, 25);
		}

		p {
			font-size: 0.6rem;
			text-align: justify;
		}

		h3 {
			font-weight: 400;
			font-size: 0.5rem;
		}
	}

	.upper_right_container {
		position: absolute;
		top: 0.8rem;
		right: 0.5rem;
		display: flex;
	}

	@media screen and (max-width: 300px) {
		.text_container {
			margin-left: 0.6rem;
			padding: 0.6rem 0.6rem 0.5rem 0;

			h1 {
				font-size: 0.8rem;
				margin-bottom: 0.2rem;
				max-width: 85%;
			}

			h2 {
				font-size: 0.5rem;
			}

			p {
				font-size: 0.6rem;
				text-align: justify;
			}

			h3 {
				font-weight: 400;
				font-size: 0.5rem;
			}
		}
	}
}
