.container {
    margin: 0px 30px 0px 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
}

.force_white {
    color: #fff;
}

.card {
    border-style: solid;
    border-radius: 10px;
    padding: 10px 30px 10px 30px;
    text-align: center;
}

.card > p {
    font-weight: bold;
}

.card_comment {
    border-style: none;
    border-radius: 10px;
    padding: 10px 30px 10px 30px;
    background-color: #ffbf00;
    color: #000;
    margin-bottom: 10px;
}

.header_comment {
    display: flex;
    justify-content: space-between;
}

.popup_status {
    position: fixed;
    background: #ffbf00;
    padding: 10px;
    border-radius: 10px;
    z-index: 1;
    left: 0;
    right: 0;
    margin: 50% 10px 0 10px;
    top: 0;
}

.popup_status > div {
    margin: 10px;
    color: #000;
}

.popup_status > div > select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    border-style: none;
}

.change_button {
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(26, 211, 20);
    color: #000;
    border-style: none;
    margin-top: 10px;
}

.close {
    padding: 10px;
    border-radius: 10px;
    background-color: #ff3333;
    color: #fff;
    border-style: none;
    margin-top: 10px;
}

.d_flex {
    display: flex;
    justify-content: space-evenly;
}

.change_status {
    padding: 10px;
    border-radius: 10px;
    background-color: #ffbf00;
    color: #000;
    border-style: none;
    margin-top: 10px;
    width: 40%;
    text-align: center;
}