@import "../../../../constants/variables";

.input_container {
	margin-bottom: 2rem;

	label {
		font-size: $requestPubFormLabelSize;
	}

	textarea {
		@include basicInputStyle;
		height: 8rem;
		padding: 0.7rem;
	}
}

.error_input {
	@include inputInsetError;
}
