.plus_btn_container {
	position: fixed;
	bottom: 12rem;
	right: 1rem;
	z-index: 1000;

	.plus_btn_background {
		position: absolute;
		top: 25%;
		left: 28%;
		background-color: $blackInputColor;
		width: 1.8rem;
		height: 1.8rem;
		z-index: 100;
	}

	.plus_btn {
		color: $darkYellowColor;
		font-size: 4rem;
		position: relative;
		z-index: 1000;
	}
}

